<div class="row">
  <center>
    <!-- Left side (ready to eat) -->
    <div class="col-md-6">
      <h4 class="red_font">Ready to eat!</h4>
      <div id="ready_to_eat">

        <!-- Dynamically Insert Ready Pizzas Here -->
        {{#each burgers}}
          {{#unless devoured}}
          <form action="/burger/eat/{{id}}" method="POST">
            <div class="input-group">
              <li class="form-control">{{id}}. {{burger_name}}</li>
                <span class="input-group-btn">
                  <button class="btn btn-success devour-button" type="submit">Devour It!</button>
                </span>
            </div>
          </form>
          {{/unless}}
        {{/each}}

      </div>
    </div>

    <!-- Right side (already eaten) -->
    <div class="col-md-6">
      <h4 class="red_font">Already eaten!</h4>
      <div id="already_eaten">

        <!-- Dynamically Insert Eaten Pizza Here -->
        {{#each burgers}}
          {{#if this.devoured}}
            <div class="input-group">
              <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
            </div>
          {{/if}}
        {{/each}}

      </div>
    </div>
  </center>
</div>



{{!-- <h1>Burgers!</h1>

<h2>burger list</h2>

<ul>
   {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block hungry=true}}
    {{/unless}}
  {{/each}}
</ul>


<ul>
   {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block hungry=false}}
    {{/unless}}
  {{/each}}
</ul>






<h2>Add a Burger!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Hungry?</label><br>
    <input type="radio" name="devoured" value="1" checked> Hungry!<br>
    <input type="radio" name="devoured" value="0"> Not Hungry
  </div>


  <button type="submit">Add burger</button>
</form> --}}
